<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        #footer-1{
            background-color: blanchedalmond;
        }
    </style>
</head>

<body>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Toy store</h1>
    </div>
    <h1 class=""></h1>
    <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="/new">New Product</a></li>
        <li><a href="/view">View all</a></li>
    </ul>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <h3>Lego</h3>
                <img src="https://img.websosanh.vn/v2/users/root_product/images/do-choi-lap-ghep-lego-60264-/8bnat9rcfqm4p.jpg?compress=85"
                    alt="" width="250px" height="250px">
            </div>
            <div class="col-sm-4">
                <h3>Bup be</h3>
                <img src="https://cf.shopee.vn/file/7cbc1d217b73e7460b8cfeb7ff80d5e5" alt="" width="250px"
                    height="250px">
            </div>
            <div class="col-sm-4">
                <h3>Robot</h3>
                <img src="https://cf.shopee.vn/file/eef725d0297fa3b0dfc2ef75008b2e5f_tn" alt="" width="250px"
                    height="250px">
            </div>
        </div>
    </div>
</body>

<footer id="footer-1" class="footer-fluid">
    <p style="text-align: center;">Thank you</p>
</footer>

</html>