<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        #footer-1 {
            background-color: blanchedalmond;
        }
    </style>
</head>

<body>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Toy store</h1>
    </div>
    <h1 class=""></h1>
    <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="/new">New Product</a></li>
        <li><a href="/view">View all</a></li>
    </ul>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12">
                <h1>New Product</h1>
                <form action="/new" method="post">
                    <div class="container mt-3">
                        <h2>Stacked form</h2>
                        <form action="/action_page.php">
                            <div class="mb-3 mt-3">
                                <label>Product name:</label>
                                <input type="text" name="txtName">
                            </div>
                            <br>
                            <div class="mb-3">
                                <label>Price:</label>
                                <input type="text" name="txtPrice">
                            </div>
                            <br>
                            <div class="mb-3">
                                <label>Picture URL:</label>
                                <input type="text" name="txtPic">
                            </div>
                    </div>
                    <br>
                    <div class="mb-3">
                        <button><input type="submit" value="Create a new product"
                                style="background-color: yellow;"></button>
                    </div>
                </form>
            </div>
            </form>
        </div>
    </div>
    </div>
</body>

<footer id="footer-1" class="footer-fluid">
    <p style="text-align: center;">Thank you</p>
</footer>

</html>
